@font-face {
  font-family: "Formular-Bold";
  src: local("Formular-Bold"),
    url(../assets/fonts/Formular-Bold.otf) format("otf");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

html {
  background-color: $whitesmoke;
}

a {
  color: $info;
}
body {
  font-family: "Formular-Bold";
}
.title {
  font-weight: $weight-normal;
}

.section {
  background-color: transparent;
}

.box {
  border-radius: 2px;
}

.select::after {
  border-color: $dark-grey;
}

.field.has-help {
  height: 67px;
}

.card-footer-item {
  cursor: pointer;
  &:hover {
    background-color: $lightest-grey;
  }
}

// Bug in production
.select select {
  padding-right: 2.5em;
}
